# Configuración del Servidor NutriKer
PORT=3000

# Conexión a Base de Datos PostgreSQL en Neon.tech
DATABASE_URL=postgresql://usuario:password@host.neon.tech/neondb?sslmode=require

# Clave secreta para JWT (Autenticación)
JWT_SECRET=tu_clave_secreta_jwt_aqui

# Configuración de Cloudinary (Imágenes)
CLOUDINARY_CLOUD_NAME=tu_cloud_name_aqui
CLOUDINARY_API_KEY=tu_api_key_aqui
CLOUDINARY_API_SECRET=tu_api_secret_aqui

# Configuración de Google Generative AI (Gemini Flash)
GEMINI_API_KEY=tu_gemini_api_key_aqui

# Configuración de Notificaciones Transaccionales (Email / SMTP)
SMTP_HOST=smtp.resend.com
SMTP_PORT=587
SMTP_USER=resend
SMTP_PASS=tu_smtp_password_aqui
SMTP_FROM="NutriKer Citas <citas@nutriker.com>"
SMTP_SECURE=false

