# Configuración del Servidor NutriKer
PORT=3000

# Conexión a Base de Datos PostgreSQL en Neon.tech
DATABASE_URL=postgresql://neondb_owner:npg_MbW19VjIltOQ@ep-long-hat-ay5mz9ou-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
# Clave secreta para JWT (Autenticación)
JWT_SECRET=super_secreto_nutriker_jwt_2026

# Configuración de Cloudinary (Imágenes)
CLOUDINARY_CLOUD_NAME=tsvgej1x
CLOUDINARY_API_KEY=576973415986546
CLOUDINARY_API_SECRET=olqUOGtNNdPqxzepyNW-KiQatu4
